<% puts "RENDERING PARTIAL CONSTITUENCY_POPULATION_SUMMARY [" + constituency_population_summary.to_s + "]" %>

<% if constituency_population_summary %>
  <% areas = [] %>
  <% areas << constituency_population_summary.country %>
  <% areas << constituency_population_summary.region %>
  <% areas << constituency_population_summary %>
  <% constituency_population_summary.wards.each { |ward| areas << ward } %>

  <h3>Population Summary</h3>

  <table class="table table-bordered table-striped table-hover">
    <tr>
      <th>Area</th>
      <% PopulationEstimate::STANDARD_AGE_RANGES.each do |age_range| %>
        <th><%= age_range[:name] %></th>
      <% end %>
    </tr>

    <% areas.each do |area| %>
      <% area_pop_est = area.population_estimates.first %>
      <% if area_pop_est %>
        <tr>
          <td><strong><%= "#{area.name} (#{area.area_type})" %></strong></td>
          <% PopulationEstimate::STANDARD_AGE_RANGES.each do |age_range| %>
            <td><%= area_pop_est.try(:population_string, age_range) || "Unknown" %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>

<% end %>
